<!--<p>content-card works!</p>-->
<div *ngIf = "content.type === 'Drama'  || content.type === 'Comedy' || content.type === ''">
<div class="contents">
  
  <h2>{{content.title}}</h2>
  <p>{{content.description}}</p>
  <p>Creator: {{content.creator}}</p>
  <img  *ngIf="content.imgURL; else defaultImage" (click)="clickEvent()" src='{{content.imgURL}}'>
            <ng-template #defaultImage>
              <img src="assets/img/defaultImg.jpg">
            </ng-template>
  <p *ngIf="content.type"  appHoverAffect [affectStyle]="'underline'" > {{content.type}}</p>
  <p *ngIf="content.tags && content.tags.length > 0" appHoverAffect [affectStyle]="'bold'"> {{content.tags}}</p>

</div>
</div>
