<!--<app-create-content (contentAdded)="receiveNewContent($event)"></app-create-content>-->
<h1 style=" font-size: 4em; text-align: Center;">Movies</h1>
<div id="filter">
    <input [(ngModel)]="findTitle"><button (click)="findContent()">Search</button>
    <br>
    <h1>{{message}}</h1>
    </div>
    <app-content-card [content]="item"></app-content-card>
    <div style="font-size: 15px; font-weight: 500;" *ngIf="messageService.messages.length">
  
      <h2>Messages</h2>
      <button type="button" class="clear"
              (click)="messageService.clear()">Clear messages</button>
             
      <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div>
<div class="drama">
<app-content-card *ngFor="let item of (contentList | contentFilter :'Drama');" [content]="item"  [ngClass]="{'highlight' : item.title.toLowerCase() === title.toLowerCase() && searchResult}"> 
</app-content-card>
</div>
<div class="Comedy">
<app-content-card *ngFor="let item of (contentList | contentFilter :'Comedy');" [content]="item"  [ngClass]="{'highlight' : item.title.toLowerCase() === title.toLowerCase() && searchResult}"> 
</app-content-card>
</div>
<div class="empty">
<app-content-card *ngFor="let item of (contentList | contentFilter :'');" [content]="item"  [ngClass]="{'highlight' : item.title === title && searchResult}"> 
</app-content-card>
</div>